.parkImgContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  max-width: 300px;
}

.description {
  padding: 0.7rem 0;
  line-height: 1.4;
  font-weight: 400;
}

.parkImgContainer img {
  max-width: 300px;
  max-height: 400px;
}

.parkImg {
  padding: 0.1rem;
  object-fit: contain;
  /* padding: 0.3rem; */
}

@media only screen and (max-width: 455px) {
  .parkImgContainer {
    display: block;
  }

  .parkImgContainer img {
    object-fit: contain;
    max-width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .parkImgContainer img {
    max-width: 250px;
  }
}

@media only screen and (max-width: 660px) {
  .parkImgContainer img {
    max-width: 180px;
  }
}
