.searchBar {
  width: 100%;
  max-width: 400px;
}

.searchBar input {
  font-size: 1.4rem;
  padding: 0.6rem 1.3rem;
  border: 0.5px solid #444;
  border-radius: 1rem;
}
.searchBar input:focus {
  border: none;
}

.searchBar p {
  padding-top: 0.3rem;
  font-size: 1.2rem;
}
