.address {
  padding: 1rem 0;
}

.rightAlign {
  text-align: right;
}

.description {
  line-height: 1.4;
  font-weight: 400;
  padding: 1rem 0;
}

.adminContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
}

.delete {
  background: #f44336;
  color: white;
}
